@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --btn-primary: #2577fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
/* common classes */
.center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* top-stats */
.top-stats {
    width: 100%;
    height: 10vh;
    background: black;
    padding: 0 20px;
}
.top-stats .left {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #eee;
}
.top-stats .left .left-left select{
    padding: 5px 20px;
    color: #eee;
    background: transparent;
}
.top-stats .left h4 {
    font-size: 16px;
    margin-left: 20px;
}
.top-stats .right {
    color: #fff;
}
.top-stats .right ul {
    gap: 40px;
}
.top-stats .right ul li {
    font-size: 15px;
    font-weight: 600;
}



/* navbar */
.navbar {
    width: 100%;
    height: 15vh;
    background-color: #fff;
    padding: 0 20px;
}
.navbar .left {
    flex: 1;
    display: flex;
    align-items: center;
}
.navbar .left h4 {
    font-size: 34px;
    font-weight: 600;
}
.navbar .left h4 small {
    color: blue;
    font-size: 50px;
    margin-left: -9px;
}
.navbar .center {
    flex: 2;
}
.navbar .center ul {
    display: flex;
    gap: 20px;
}
.navbar .center ul li a {
    color: #000;
    font-weight: 400;
}
.navbar .center ul li a:hover {
    color: orange;
}
.navbar .right {
    flex: 2;
    display: flex;
}
.navbar .right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .right .search {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid gray;
}
.navbar .right .search input {
    padding: 5px 10px;
    border: none;
    background: transparent;
}
.navbar .icon {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 100%;
}
.navbar button {
    padding: 15px 30px;
    background: var(--btn-primary);
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}



/* hero section */
.hero {
    width: 100%;
    height: 100vh;
    background: #c8ebff;
    display: flex;
    flex-wrap: wrap;
}
.hero .image {
    width: 60%;
    height: 100%;
}
.hero .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.hero .text {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.hero .text small {
    font-family: 'Great Vibes', cursive;
    font-size: 43px; 
    letter-spacing: 4px;
    font-weight: 600;
    color: var(--btn-primary)
}
.hero .text h2 {
    font-size: 90px;
    font-weight: 500;
}
.hero .text h6 {
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    letter-spacing: 3px;
}
.hero .text button {
    padding: 15px 35px;
    background: var(--btn-primary);
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    margin-top: 35px;
}




/* category */
.category {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.category h3 {
    font-size: 40px;
    font-weight: 500;
}
.category .category-items {
    margin-top: 60px;
    display: flex;
    gap: 25px;
}
.category .category-items .left, 
.category .category-items .right, 
.category .category-items .center {
    width: 380px;
    height: 230px;
}
.category .category-items .left .image {
    width: 100%;
    height: 100%;
    position: relative;
}
.category .category-items .left .image img{
    width: 100%;
    height: 100%;
}
.category .category-items .left .image .content {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.category .category-items .left .image .content small {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}
.category .category-items .left .image .content button {
    padding: 10px 20px;
    background: orange;
    border-radius: 30px;
    font-weight: 600;
}
.category .category-items .left .image .content h6 {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    font-size: 18px;
    color: var(--btn-primary);
    margin-top: -6px;
    font-weight: 6229229100;
}



/* latest products */
.latest-products {
    width: 100%;
    box-sizing: border-box;
    padding: 0 100px;
    min-height: 50vh;
}
.latest-products .top {
    
}
.latest-products .top h2 {
    font-size: 45px;
    font-weight: 500;    
}
.latest-products .top ul {
    display: flex;
    gap: 20px;
}
.latest-products hr {
    margin-top: 10px;
    opacity: 40%;
    width: 100%;
    height: 1px;
    background-color: gray;
}